# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# k8s config
k8s/config/**
k8s/01-configMap.yaml

# single-node-multicontainer config
single-node-multicontainer/logstash/config/certs/**
single-node-multicontainer/logstash/config/logstash.conf
single-node-multicontainer/logstash/config/logstash.yml
single-node-multicontainer/docker-compose-resolve.yml

memo.txt

# visualization cache
.cache/**